.product{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    z-index: 1;
}
.product__rating{
    display: flex;
}
.product > img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}

.addButton{
    height: 30px;
    background-color: transparent;
    text-align: center;
}

.addButton > button{
    margin-top: 10px;
    width: 100px;
    height: 100%;
    border-radius: 5px;
    background-color: #F4F200;
    background-image: #F4F200;
    background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
    background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
    background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out; 
    cursor: pointer;
    }
    .addButton > button:focus{
        outline: none;
    }

.addButton >button:hover{
    background-position: -200%;
    transition: background 300ms ease-in-out;
}


